<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/zcode/webtimer" version="1.2.12" xml:lang="en" defaultlocale="en">
  <name short="Web Timer">Web Timer</name>
  <description xml:lang="en">Keep track of how you spend your time on the Web.</description>
  <license href="http://www.opensource.org/licenses/mit-license.php" xml:lang="en">Licensed under the MIT license. Attribution encouraged.</license>
  <author href="http://web.daniel.priv.no/">Daniel Aleksandersen</author>
  <icon src="icon_128.png" height="128" width="128" />
  <icon src="icon_19.png" height="19" width="19" />
  <preference name="num_days" value="1" />
  <preference name="chart_limit" value="7" />
  <preference name="blacklist" value="[&quot;example.com&quot;]" />
  <preference name="domains" value="{}" />
  <preference name="total" value="{&quot;today&quot;:0,&quot;all&quot;:0}" />
  <preference name="other" value="{&quot;today&quot;:0,&quot;all&quot;:0}" />
</widget>