<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/zcode/webtimer" version="2.2.3" xml:lang="en" defaultlocale="en">
  <content src="webtimer.html" type="text/html" />
  <name short="Web Timer">Web Timer</name>
  <description xml:lang="en">Keep track of how you spend your time on the Web.</description>
  <license href="https://raw.github.com/zcode/webtimer/master/COPYING" xml:lang="en">Licensed under the MIT license.</license>
  <author href="http://web.daniel.priv.no/">Daniel Aleksandersen</author>
  <icon src="icon-64.png" height="64" width="64" />
  <icon src="icon-64@2x.png" height="128" width="128" />
  <icon src="ToolbarIcon.png" height="18" width="18" />
  <icon src="ToolbarIcon@2x.png" height="36" width="36" />
  <preference name="num_days" value="1" />
  <preference name="chart_limit" value="7" />
  <preference name="blacklist" value="[&quot;example.com&quot;]" />
  <preference name="domains" value="{}" />
  <preference name="total" value="{&quot;today&quot;:0,&quot;all&quot;:0}" />
  <preference name="other" value="{&quot;today&quot;:0,&quot;all&quot;:0}" />
  <access origin="https://www.google.com" subdomains="false" />
  <access origin="https://ajax.googleapis.com" subdomains="false" />
</widget>
