body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
}
nav {
  display:block;
}
#close {
  float:right;
}
#options {
  float:left;
}
.navgraph {
  text-align:center;
}
a {
  text-decoration:none;
  color:black;
  cursor:pointer;
}
#options a, #close a {
  font-weight:bold;
}
#options a:hover {
  text-decoration:underline;
}
.navgraph a { padding:4px 6px; border:1px solid transparent;border-radius:10px;}
.navgraph a:hover { border:1px dashed #585858; margin:0;}
#data {
  margin-top:10px;
}
#table_div {
  margin-top:15px;
}
.active, .active:hover {
  border:1px solid #585858 !important;
  cursor:default;
}
#nodata {
  display:none;
  color:red;
  font-weight:bold;
}
#nodata a {
  text-decoration:underline;
  color:red;
}

#tabs {
    display: none;
}

#tab-button {
    float: left;
}

#tabs {
}

#tabtable {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse:collapse;
    width: 100%;
}

#tabtable tbody {
    text-align: center;
}
#tabtable td, #tabtable th {
    border-left: 1px solid black;
    margin: 0px;
    padding: 2px 4px;
}
#tabtable th:first-child, #tabtable td:first-child {
    text-align: left;
}
#tabtable th {
    border-bottom: 1px solid black;
}
#tabtable td:first-child {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}
td img {
    width: 16px;
    height: 16px;
    padding: 1px 5px;
    position: relative;
    top: 4px;
}


#tabs span {
    font-style: italic;
    font-size: 1.5em;
}

#tab-button {
    margin-left: 0.5em;
}
