body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
}
nav {
  display:block;
  height:20px;
  border-bottom:2px solid black;
}
#wincontrols {
  float:right;
}
#wincontrols a {
  margin-left:.6em;
}
#btn-sites, .active {font-weight:bold;}

nav a:hover, .navgraph a:hover {
color:rgb(14,109,207);
}


.navgraph {
  text-align:center;
  display:block;
  margin-top:.5em;
  height:20px;
  clear:both;
}
a {
  text-decoration:none;
  color:black;
  cursor:pointer;
}
#options a:hover {
  text-decoration:underline;
}
.navgraph a { padding:4px 6px; border:1px solid transparent;border-radius:10px;}

#data {
  margin-top:10px;
}
#table_div {
  margin-top:15px;
}

.active:hover, nav a:hover {
  cursor:default;
}
#nodata {
  display:none;
  color:red;
  font-weight:bold;
}
#nodata a {
  text-decoration:underline;
  color:red;
}

#tabs {
    display: none;
}

#tab-button {
    float: left;
}

#tabs {
}

#tabtable {
    border-spacing: 0px;
    border-collapse:collapse;
    width: 100%;
}

h1 {
   font-size:1.2em;
   font-weight:bold;
   margin:1em 0 0;
   text-align: center;
}

#tabtable tbody {
    text-align: center;
}
#tabtable td, #tabtable th {
    border: 2px solid rgb(238,238,238);
    margin: 0px;
    padding: 2px 4px;
}

#tabtable th {
background: -o-linear-gradient(top, #ffffff 0%,#f9fafd 30%,#eef2f7 60%,#e4e9f4 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f9fafd 30%,#eef2f7 60%,#e4e9f4 100%);
}

#tabtable th:first-child, #tabtable td:first-child {
    text-align: left;
}
#tabtable td:first-child {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}


#tabs span {
    font-weight:bold;
    color:rgb(14,109,207);
}

#tab-buttons a {
  margin-right:.6em;
}
