body {
  font-family:Helvetica, Arial, sans-serif;
  font-size:13px;
}
nav {
  display:block;
}
#close {
  float:right;
}
#options {
  float:left;
}
.navgraph {
  text-align:center;
}
a {
  text-decoration:none;
  color:black;
  cursor:pointer;
}
#options a, #close a {
  font-weight:bold;
}
#options a:hover {
  text-decoration:underline;
}
.navgraph a { padding:4px 6px; border:1px solid transparent;border-radius:10px;}
.navgraph a:hover { border:1px dashed #585858; margin:0;}
#data {
  margin-top:10px;
}
#table_div {
  margin-top:15px;
}
.active, .active:hover {
  border:1px solid #585858 !important;
  cursor:default;
}
#nodata {
  display:none;
  color:red;
  font-weight:bold;
}
#nodata a {
  text-decoration:underline;
  color:red;
}

#tabs {
    display: none;
}

#tab-button {
    float: left;
}

#tabs {
}

#tabtable {
    border-spacing: 0px;
    border-collapse:collapse;
    width: 100%;
}

#tabs h1 {
   font-size:1.2em;
   font-weight:bold;
   margin:1em 0 0;
   text-align: center;
}

#tabtable tbody {
    text-align: center;
}
#tabtable td, #tabtable th {
    border: 2px solid rgb(238,238,238);
    margin: 0px;
    padding: 2px 4px;
}

#tabtable th {
background: -o-linear-gradient(top, #ffffff 0%,#f9fafd 30%,#eef2f7 60%,#e4e9f4 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f9fafd 30%,#eef2f7 60%,#e4e9f4 100%);
}

#tabtable th:first-child, #tabtable td:first-child {
    text-align: left;
}
#tabtable td:first-child {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
}


#tabs span {
    font-weight:bold;
    color:rgb(14,109,207);
}

#tab-button {
    margin-left: 1em;
}

#today {
    font-style: normal !important;
}

